<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="javascript/libs/parallel.js"></script>
        <script src="javascript/libs/jquery.ba-throttle-debounce.js"></script>
        <link href="home/style/index.css" type="text/css" rel="Stylesheet" />
    </head>
<body>

    <div class="graph">

    </div>

    <footer>

    </footer>
    <script src="javascript/libs/prelude-browser-min.js"></script>
    <script src="home/javascript/index.js"></script>
</body>
</html>